.basement {
  background-color: #fffacd; /* LemonChiffon */
  width: 60%; /* Take up more of the page */
  padding: 40px;
  border-radius: 10px;
  margin: 50px auto; /* Center the container */
  text-align: center;
}

.basement h1 {
  color: #daa520; /* GoldenRod */
}

.basement div {
  margin-bottom: 20px;
  font-size: large;
}

.basement button {
  width: 40%; /* Adjust width to fit the larger container */
  background-color: #add8e6; /* light blue */
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
}

.basement button:hover {
  background-color: #87ceeb; /* sky blue */
}
