body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0; /* light grey background for the whole page */
}

.login-container {
  background-color: #f0e68c; /* light yellow */
  width: 200%; /* Adjust the width as needed */
  max-width: 600px; /* Ensure it doesn't get too wide */
  height: 200%; /* Adjust the height as needed */
  padding: 40px; /* Increase padding for more space inside the container */
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for better visibility */
}

.login-container h1 {
  color: #000080; /* navy blue */
}

.greeting {
  font-size: large;
  margin-bottom: 20px;
}

#login,
#create-user {
  width: 100%;
  padding: 15px; /* Increase padding for larger buttons */
  margin-bottom: 15px; /* Increase margin for more space between buttons */
  background-color: #add8e6; /* light blue */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#login:hover,
#create-user:hover {
  background-color: #87ceeb; /* sky blue */
}
