.create-basement {
    background-color: #e6e6fa; /* Lavender */
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
  }
  
  .create-basement h1 {
    color: #9370db; /* MediumPurple */
  }
  
  .create-basement div {
    margin-bottom: 10px;
    font-size: large;
  }
  