body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0; /* light grey background for the whole page */
}

.create-basement {
  background-color: #fffacd; /* LemonChiffon */
  width: 70%; /* Take up more of the page */
  max-width: 800px; /* Ensure it doesn't get too wide */
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for better visibility */
}

.create-basement h1 {
  color: #0d2b70ba; 
}

.create-basement div {
  margin-bottom: 20px;
  font-size: large;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: large;
}

.create-button {
  background-color:#0d2b70ba; 
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
  margin-top: 20px;
}

.create-button:hover {
  background-color: #42c131; 
}