.my-basements {
  background-color: #fffacd; /* LemonChiffon */
  width: 200%; /* Take up more of the page */
  padding: 40px;
  border-radius: 10px;
  margin: 50px auto; /* This centers the container horizontally */
  margin-left: -200px; /* Adjust this value to make the left margin smaller */
  margin: right 200px;
  text-align: center;
}

.my-basements h1 {
  color: #4682b4; /* SteelBlue */
}

.my-basements div {
  margin-bottom: 20px;
}

.my-basements button {
  width: 50%; /* Adjust width to fit the larger container */
  background-color: #add8e6; /* light blue */
  border: none;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
}

.my-basements button:hover {
  background-color: #87ceeb; /* sky blue */
}
