.my-basements {
    background-color: #f0f8ff; /* AliceBlue */
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
  }
  
  .my-basements h1 {
    color: #4682b4; /* SteelBlue */
  }
  
  .my-basements div {
    margin-bottom: 10px;
  }
  
  .my-basements button {
    background-color: #add8e6; /* light blue */
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .my-basements button:hover {
    background-color: #87ceeb; /* sky blue */
  }
  