.user-form-container {
  background-color: #ecd666;
  width: 50%; /* Adjust the width as needed */
  padding: 20%;
  border-radius: 10px;
  margin: 200px auto; /* This centers the container horizontally */
  margin-left: 50px; /* Adjust this value to make the left margin smaller */
  margin-right: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


  
  .user-form-container h2 {
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .message {
    color: green;
    margin-bottom: 15px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: rgb(3, 5, 32);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  